body {
  background-color: black;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: orange;
  text-align: center;
  font-size: larger;

}

p {
  color: tan;
}